repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  -   id: trailing-whitespace
  -   id: end-of-file-fixer
  -   id: check-yaml
  -   id: debug-statements
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.3.6
  hooks:
    - id: ruff
      args: [ --fix ]
      types_or: [ python, pyi, jupyter ]
    - id: ruff-format
      types_or: [ python, pyi, jupyter ]
