# Copyright (C) 2022 Intel Corporation
# SPDX-License-Identifier: MIT License

# Specific for open-catalyst project
pytorch_lightning
numba
lmdb
munch
dgllife
geometric_algebra_attention
jsonargparse[signatures]
sympy
sigopt
pymatgen==2023.7.20

# Basic DGL
ogb
--find-links=https://data.dgl.ai/wheels/repo.html
dgl-cu113

# BasicPytorch Tester
--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.13.1

